<h2>This is your shorted URL</h2>

<p>
  <strong>Original URL</strong>:
  <%= @short_uri.original_uri %>
  <br>
  <strong>Path</strong>:
  <%= link_to @short_uri.path, @short_uri.original_uri, target: '_blank' %>
  <br>
  <strong>Times Clicked</strong>:
  <%= @short_uri.times_clicked %>
</p>
