# Default configuration for development environment.
# Copy this file to "$APP_PATH/.env" and adjust to your needs.

# RESOLVER_HOSTNAME is the main host path. If you want to change it you should change the docker-compose configuration too.
RESOLVER_HOSTNAME=localhost:3000

# DB_URI and DB_TEST_URI are variables used to show the path for each database
DB_URI=postgres://postgres:@db/url-shortner
DB_TEST_URI=postgres://postgres:@db/url-shortner_test

# RAILS_LOG_TO_STDOUT is the Rails's env variable used to print out logs
RAILS_LOG_TO_STDOUT=true

# PATH_LENGTH is the length of the shorted link path
PATH_LENGTH=7

# AVAILABLE_PATH_SIZE is the number of cached paths
AVAILABLE_PATH_SIZE=50

# MIN_AVALIABLE_PATH_SIZE is the minumum
MIN_AVALIABLE_PATH_SIZE=5

# PATH_KEY is the key used to store all available paths
PATH_KEY=path_list

# REDIS_URI is the redis url
REDIS_URI=redis://@cache:6379/0
